.container {
   
    background-color: rgb(255, 177, 245);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row wrap;
    

}
.redbox {
    background-color: red;
   
    
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
.container2 {
    background-color: rgb(255, 177, 245);
    display: flex;
    justify-content: space-around;
}
.container2 div:nth-child(1){
    order: 3;
}
.greenbox {
    background-color: green;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
}
